openapi: 3.2.0
info:
  version: 2.0.0
  title: Rest-Service Recalls API
  x-logo:
    url: https://lumahealth-assets.s3.us-west-2.amazonaws.com/new_luma_logo_black.png
    backgroundColor: '#FFFFFF'
    altText: Luma Health
  description: OpenAPI [Basic Structure](https://swagger.io/docs/specification/basic-structure/)
servers:
- url: https://api.lumahealth.io/api/v2
security:
- Bearer: []
tags:
- name: recalls
  description: Recalls
paths:
  /recalls:
    get:
      summary: Show a list of recalls
      operationId: listRecalls
      tags:
      - recalls
      parameters:
      - name: patient
        in: query
        description: The ID of patient
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: provider
        in: query
        description: The ID of provider
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: facility
        in: query
        description: The ID of facility
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: appointment
        in: query
        description: The ID of appointment
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: appointmentType
        in: query
        description: The ID of appointment type
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: date
        in: query
        description: Date of recall
        schema:
          type: date-time
      - name: source
        in: query
        description: Source of recall
        schema:
          type: string
          enum:
          - active
          - pending
          - scheduled
      - name: status
        in: query
        description: Status of recall
        schema:
          type: string
          enum:
          - active
          - pending
          - scheduled
      - name: attempt
        in: query
        description: Attempt of recall
        schema:
          type: string
      - name: q
        in: query
        description: Patient name, provider name, appointment type name, facility name or status of Recall
        schema:
          type: string
      - $ref: '#/components/parameters/userParam'
      - $ref: '#/components/parameters/deletedParam'
      - $ref: '#/components/parameters/createdByParam'
      - $ref: '#/components/parameters/updatedByParam'
      - $ref: '#/components/parameters/createdAtParam'
      - $ref: '#/components/parameters/updatedAtParam'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/populateParam'
      - $ref: '#/components/parameters/selectParam'
      responses:
        '200':
          description: Returns a list of recalls
          content:
            application/json:
              schema:
                type: object
                required:
                - response
                - page
                - size
                properties:
                  response:
                    type: array
                    minItems: 0
                    items:
                      $ref: '#/components/schemas/RecallResponse'
                  page:
                    type: integer
                    format: int32
                    minimum: 1
                  size:
                    type: integer
                    format: int32
                    minimum: 0
                additionalProperties: false
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a recall
      operationId: recallCreate
      tags:
      - recalls
      requestBody:
        description: Create a recall
        required: true
        content:
          application:json:
            schema:
              $ref: '#/components/schemas/RecallRequestCreate'
      responses:
        '201':
          description: Successful creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecallResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
  /recalls/{recallId}:
    get:
      summary: Get recall by id
      operationId: recallGet
      tags:
      - recalls
      parameters:
      - name: recallId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      responses:
        '200':
          description: Recall
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecallResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    put:
      summary: Update a recall
      operationId: recallUpdate
      tags:
      - recalls
      parameters:
      - name: recallId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      requestBody:
        description: A recall (full or partial) to be updated
        required: true
        content:
          application:json:
            schema:
              $ref: '#/components/schemas/RecallRequestUpdate'
      responses:
        '200':
          description: Recall updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecallResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    delete:
      summary: Delete a recall
      operationId: recallDelete
      tags:
      - recalls
      parameters:
      - name: recallId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      responses:
        '200':
          description: Deleted recall
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecallResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
components:
  parameters:
    pageParam:
      in: query
      name: page
      required: false
      type: integer
      format: int32
      default: 1
      minimum: 1
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
    populateParam:
      name: _populate
      in: query
      description: Response properties which will be replaced by the referenced objects, separated by commas.
      required: false
      type: string
      schema:
        type: string
    selectParam:
      name: _select
      in: query
      description: Response properties that should be returned, separated by commas.
      required: false
      type: string
      schema:
        type: string
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
      - 0
      - 1
      schema:
        type: number
        enum:
        - 0
        - 1
      description: Flag for logical deletion where 1 means deleted.
    limitParam:
      name: limit
      in: query
      description: How many items to fetch per page
      required: false
      type: integer
      format: int32
      default: 500
      minimum: 1
      maximum: 1000
      schema:
        type: integer
        format: int32
        default: 500
        minimum: 1
        maximum: 1000
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
  schemas:
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
    RecallRequestUpdate:
      type: object
      properties:
        patient:
          description: patient
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        provider:
          description: provider
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        facility:
          description: facility
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          description: appointment
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        type:
          description: appointmentType
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        date:
          description: date
          type: string
        source:
          description: source
          type: string
          enum:
          - upload
          - ui
          - integrator
        status:
          description: status
          type: string
          enum:
          - active
          - pending
          - scheduled
        attempt:
          description: attempt
          type: string
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    idParam:
      in: query
      name: _id
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      required: false
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: Luma's internal ID of an object.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    RecallResponse:
      type: object
      description: Represents a patient recall, a record used to bring a patient back in for a follow-up visit or overdue care based on a scheduled trigger date. It tracks status through the recall lifecycle (pending, active, scheduled, inactive) and links to the source (upload, UI, or EHR integrator).
      required:
      - _id
      - name
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        patient:
          description: patient
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        provider:
          description: provider
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        facility:
          description: facility
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          description: appointment
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        type:
          description: appointmentType
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        date:
          description: date
          type: string
        source:
          description: source
          type: string
          enum:
          - upload
          - ui
          - integrator
        status:
          description: status
          type: string
          enum:
          - active
          - pending
          - scheduled
        attempt:
          description: attempt
          type: string
    RecallRequestCreate:
      type: object
      required:
      - patient
      - date
      properties:
        patient:
          description: patient
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        provider:
          description: provider
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        facility:
          description: facility
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          description: appointment
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        type:
          description: appointmentType
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        date:
          description: date
          type: string
        source:
          description: source
          type: string
          enum:
          - upload
          - ui
          - integrator
        status:
          description: status
          type: string
          enum:
          - active
          - pending
          - scheduled
        attempt:
          description: attempt
          type: string
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
      - 0
      - 1
      schema:
        type: number
        enum:
        - 0
        - 1
      description: Flag for logical deletion where 1 means deleted.
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
