openapi: 3.2.0
info:
  version: 2.0.0
  title: Rest-Service Chat Activities Reasons API
  x-logo:
    url: https://lumahealth-assets.s3.us-west-2.amazonaws.com/new_luma_logo_black.png
    backgroundColor: '#FFFFFF'
    altText: Luma Health
  description: OpenAPI [Basic Structure](https://swagger.io/docs/specification/basic-structure/)
servers:
- url: https://api.lumahealth.io/api/v2
security:
- Bearer: []
tags:
- name: chatActivitiesReasons
  description: reason why a chatActivity was closed
paths:
  /chatActivitiesReasons:
    get:
      summary: List chatActivitiesReasons
      operationId: chatActivitiesReasonsList
      tags:
      - chatActivitiesReasons
      parameters:
      - name: allowDescription
        in: query
        schema:
          type: boolean
      - $ref: '#/components/parameters/userParam'
      - $ref: '#/components/parameters/deletedParam'
      - $ref: '#/components/parameters/createdByParam'
      - $ref: '#/components/parameters/updatedByParam'
      - $ref: '#/components/parameters/createdAtParam'
      - $ref: '#/components/parameters/updatedAtParam'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/populateParam'
      - $ref: '#/components/parameters/selectParam'
      responses:
        '200':
          description: List of chatActivitiesReasons
          content:
            application/json:
              schema:
                type: object
                required:
                - response
                - page
                - size
                properties:
                  response:
                    type: array
                    minItems: 0
                    items:
                      $ref: '#/components/schemas/ChatActivityReasonResponse'
                  page:
                    type: integer
                    format: int32
                    minimum: 1
                  size:
                    type: integer
                    format: int32
                    minimum: 0
                additionalProperties: false
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    post:
      summary: Create a chatActivityReason
      operationId: chatActivityReasonCreate
      tags:
      - chatActivitiesReasons
      requestBody:
        description: ChatActivityReason to create
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatActivityReasonRequestCreate'
      responses:
        '201':
          description: Successful creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatActivityReasonResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /chatActivitiesReasons/{chatActivityReasonId}:
    get:
      summary: Get chatActivityReason by id
      operationId: chatActivityReasonGet
      tags:
      - chatActivitiesReasons
      parameters:
      - name: chatActivityReasonId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      responses:
        '200':
          description: ChatActivityReason
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatActivityReasonResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    put:
      summary: Update a chatActivityReason
      operationId: chatActivityReasonUpdate
      tags:
      - chatActivitiesReasons
      parameters:
      - name: chatActivityReasonId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      requestBody:
        description: A chatActivityReason (full or partial) to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatActivityReasonRequestUpdate'
      responses:
        '200':
          description: ChatActivityReason updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatActivityReasonResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    delete:
      summary: Delete a chatActivityReason
      operationId: chatActivityReasonDelete
      tags:
      - chatActivitiesReasons
      parameters:
      - name: chatActivityReasonId
        in: path
        required: true
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      responses:
        '200':
          description: Deleted chatActivityReason
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatActivityReasonResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
components:
  parameters:
    pageParam:
      in: query
      name: page
      required: false
      type: integer
      format: int32
      default: 1
      minimum: 1
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
    populateParam:
      name: _populate
      in: query
      description: Response properties which will be replaced by the referenced objects, separated by commas.
      required: false
      type: string
      schema:
        type: string
    selectParam:
      name: _select
      in: query
      description: Response properties that should be returned, separated by commas.
      required: false
      type: string
      schema:
        type: string
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
      - 0
      - 1
      schema:
        type: number
        enum:
        - 0
        - 1
      description: Flag for logical deletion where 1 means deleted.
    limitParam:
      name: limit
      in: query
      description: How many items to fetch per page
      required: false
      type: integer
      format: int32
      default: 500
      minimum: 1
      maximum: 1000
      schema:
        type: integer
        format: int32
        default: 500
        minimum: 1
        maximum: 1000
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
  schemas:
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    ChatActivityReasonResponse:
      type: object
      description: A ChatActivityReason represents a predefined reason or category that staff can attach to a chat activity or conversation, such as why it was closed or flagged. It stores both the original text and a normalized version for consistent matching, plus a flag indicating whether an additional free text description is allowed alongside the selected reason. This is used to standardize and report on why patient chat conversations occur or end.
      required:
      - text
      - allowDescription
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        text:
          description: Both the original and the lower-case space-free normalized version of the reason to close a chat
          type: object
          required:
          - original
          - normalized
          properties:
            original:
              description: The original text of the reason to close a chat
              type: string
            normalized:
              description: The lower-case space-free normalized version of the reason to close a chat
        allowDescription:
          description: Indicator if this reason requires an extra description or not. The extra description lives in the chatActivity itself, not here.
          type: boolean
    idParam:
      in: query
      name: _id
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      required: false
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: Luma's internal ID of an object.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    ChatActivityReasonRequestUpdate:
      type: object
      properties:
        text:
          description: Both the original and the lower-case space-free normalized version of the reason to close a chat
          type: object
          required:
          - original
          - normalized
          properties:
            original:
              description: The original text of the reason to close a chat
              type: string
            normalized:
              description: The lower-case space-free normalized version of the reason to close a chat
        allowDescription:
          description: Indicator if this reason requires an extra description or not. The extra description lives in the chatActivity itself, not here.
          type: boolean
    ChatActivityReasonRequestCreate:
      type: object
      required:
      - text
      - allowDescription
      properties:
        text:
          description: Both the original and the lower-case space-free normalized version of the reason to close a chat
          type: object
          required:
          - original
          - normalized
          properties:
            original:
              description: The original text of the reason to close a chat
              type: string
            normalized:
              description: The lower-case space-free normalized version of the reason to close a chat
        allowDescription:
          description: Indicator if this reason requires an extra description or not. The extra description lives in the chatActivity itself, not here.
          type: boolean
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
      - 0
      - 1
      schema:
        type: number
        enum:
        - 0
        - 1
      description: Flag for logical deletion where 1 means deleted.
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
