openapi: 3.0.0
info:
  version: 2.0.0
  title: Rest-Service
  x-logo:
    url: >-
      https://lumahealth-assets.s3.us-west-2.amazonaws.com/new_luma_logo_black.png
    backgroundColor: '#FFFFFF'
    altText: Luma Health
  description: >-
    OpenAPI [Basic
    Structure](https://swagger.io/docs/specification/basic-structure/)
servers:
  - url: https://api.lumahealth.io/api/v2
components:
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    idParam:
      in: query
      name: _id
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      required: false
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: Luma's internal ID of an object.
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
        - 0
        - 1
      schema:
        type: number
        enum:
          - 0
          - 1
      description: Flag for logical deletion where 1 means deleted.
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    ExternalId:
      type: object
      properties:
        source:
          description: externalId.source
          type: string
          enum:
            - gcalendar
            - successehs
            - drchrono
            - dentrix
            - webpt
            - theraoffice
            - mi7
            - practicefusion
            - advancedmd
            - acomrapidpm
            - kareo
            - nextech
            - mwtherapy
            - clinicient
            - carecloud
            - eclinicalmobile
            - duxware
            - labretriever
            - optimispt
            - referral
            - recall
            - allscriptspm
            - lytec
            - brightree
            - fullslate
            - nuemd
            - centricityps
            - officeally
            - greenwayintergy
            - compulink
            - adspm
            - dsnpm
            - lumamock
            - medicalmastermind
            - meditouch
            - healthnautica
            - ezemrx
            - hl7
            - amazingcharts
            - greenwayprimesuite
            - raintree
            - athenahealth
            - revflow
            - eclinicalworks10e
            - hl7pickup
            - mindbody
            - eclinicalworkssql
            - nextgen
            - practiceperfect
            - avimark
            - clinix
            - keymedical
            - mdoffice
            - webedoctor
            - emapm
            - medinformatix
            - imsgo
            - emds
            - allscriptsunity
            - medevolve
            - caretracker
            - clearpractice
            - valant
            - micromd
            - systemedx
            - medicalmaster
            - athenamdp
            - gmed
            - roche
            - onetouch
            - somnoware
            - managementplus
            - lumacare
            - nextechfhir
            - curemd
            - epic
            - phoenixortho
            - ezderm
            - ggastromobile
            - epicconfirmationpickup
            - cerner
            - allmeds
            - oncoemrfilepickup
            - imedicware
            - modmedfhir
            - clinux
            - acuityscheduling
            - medstreaming
            - isalus
            - meditechexpanse
            - openemr
            - genericfhir
            - nextechpracticeplus
            - sms
            - voice
            - email
            - none
        value:
          description: externalId.value
          type: string
    AppointmentTypeResponse:
      type: object
      description: >-
        An Appointment Type defines a category of visit that a provider or
        facility offers, such as a routine office visit or a telehealth consult,
        along with its default duration, visibility, and optional patient intake
        forms (checklist). It can also declare dependent appointment types and
        matching rules used to determine facility or availability logic when a
        related follow-up appointment needs to be scheduled.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        name:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        alternativeName:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        description:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        duration:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        externalId:
          $ref: '#/components/schemas/ExternalId'
        visible:
          type: integer
          format: int32
          default: 15
        dependents:
          type: array
          items:
            type: object
            properties:
              appointmentType:
                type: string
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              rules:
                type: object
                properties:
                  findAvailabilityAfter:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        default: true
                      maxMinutes:
                        type: number
                        default: 30
                      minMinutes:
                        type: number
                  facilityMatch:
                    type: object
                    properties:
                      criteria:
                        type: string
                        enum:
                          - _id
                          - postcode
    AppointmentTypeRequestUpdate:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        name:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        alternativeName:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        description:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        duration:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        externalId:
          $ref: '#/components/schemas/ExternalId'
        visible:
          type: integer
          format: int32
          default: 15
        dependents:
          type: array
          items:
            type: object
            properties:
              appointmentType:
                type: string
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              rules:
                type: object
                properties:
                  findAvailabilityAfter:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        default: true
                      maxMinutes:
                        type: number
                        default: 30
                      minMinutes:
                        type: number
                  facilityMatch:
                    type: object
                    properties:
                      criteria:
                        type: string
                        enum:
                          - _id
                          - postcode
    AppointmentTypeRequestCreate:
      type: object
      required:
        - name
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        name:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        alternativeName:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        description:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        duration:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        externalId:
          $ref: '#/components/schemas/ExternalId'
        visible:
          type: integer
          format: int32
          default: 15
        dependents:
          type: array
          items:
            type: object
            properties:
              appointmentType:
                type: string
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              rules:
                type: object
                properties:
                  findAvailabilityAfter:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                        default: true
                      maxMinutes:
                        type: number
                        default: 30
                      minMinutes:
                        type: number
                  facilityMatch:
                    type: object
                    properties:
                      criteria:
                        type: string
                        enum:
                          - _id
                          - postcode
    Error:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    Appointment:
      type: object
      description: >-
        An Appointment represents a scheduled visit between a patient and a
        provider at a facility, including the date, duration, appointment type,
        and status (unconfirmed, confirmed, or cancelled). It tracks how the
        appointment was created or updated, for example through an EHR
        integration sync, the scheduling UI, telehealth, or a patient
        rescheduling via text, and is the core object driving Luma Health's
        scheduling, reminders, and check-in workflows.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        patient:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        provider:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        facility:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        type:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        date:
          type: string
          format: date-time
        duration:
          type: integer
          format: int32
          default: 15
        source:
          type: string
          enum:
            - integrator
            - reminder
            - ui
            - waitlist
            - reschedule
            - telehealth
        status:
          type: string
          enum:
            - unconfirmed
            - confirmed
            - cancelled
    AssistantTransferRulesBulkRequest:
      type: object
      required:
        - entries
      properties:
        entries:
          type: array
          description: Array of transfer rule entries to create
          minItems: 1
          items:
            type: object
            required:
              - assistants
              - name
              - transferNumber
              - type
            properties:
              assistants:
                type: array
                description: Array of assistant IDs for this entry
                minItems: 1
                items:
                  type: string
                  pattern: '[0-9a-f]'
                  minLength: 24
                  maxLength: 24
              name:
                type: string
                description: Name of the transfer rule (used for intent routing)
                minLength: 1
              metadata:
                type: object
                description: Additional metadata
                properties:
                  city:
                    type: string
                    description: City where the department is located
                  state:
                    type: string
                    description: State where the department is located
                  zip:
                    type: string
                    description: ZIP code for the department location
                  address:
                    type: string
                    description: Street address of the department
                  suiteBuildingRoom:
                    type: string
                    description: Suite, building, or room number
                  specialty:
                    type: string
                    description: Medical specialty of the department
                  action:
                    type: string
                    description: Action associated with the department
              enabled:
                type: boolean
                description: Whether the transfer rule is enabled
                default: false
              type:
                type: string
                description: Type of transfer rule
                enum:
                  - intent_routing
                  - rule_based
              assistantNumbers:
                type: array
                description: Array of outbound number IDs
                items:
                  type: string
              transferNumber:
                type: string
                description: Phone number to transfer calls to
              transferMessage:
                type: string
                description: Message played when transferring
              transferFailedMessage:
                type: string
                description: Message played when transfer fails
              afterHoursEndCallMessage:
                type: string
                description: Message played when office is closed
              timezone:
                type: string
                description: Timezone for working hours (e.g., America/Los_Angeles)
              textPatientBackInHub:
                type: object
                description: Configuration for texting patient back
                properties:
                  enabled:
                    type: boolean
                    description: Whether text-back feature is enabled
                  minutesBeforeClosingTime:
                    type: integer
                    description: Minutes before closing to offer text-back option
                    minimum: 0
              textPatientBackConfirmationSentMessage:
                type: string
                description: Confirmation message sent when text-back is requested
              hubSmsTextPatientBackConfirmationSentMessage:
                type: string
                description: SMS confirmation message sent via hub
              offerToTransferMessage:
                type: string
                description: Message offering to transfer the caller
              offerToTextBackOrTransferMessage:
                type: string
                description: Message offering text-back or transfer options
              offerToTextBackOrEndCallMessage:
                type: string
                description: Message offering text-back or end call options
              officeClosedTransferNotAvailableOfferToTextBackMessage:
                type: string
                description: Message when office is closed and transfer unavailable
              officeNearClosingTimeTransferNotAdvisedOfferToTextBackMessage:
                type: string
                description: Message when office is near closing time
              workingHours:
                type: array
                description: Working hours configuration for each day of the week
                items:
                  type: object
                  required:
                    - earliest
                    - latest
                    - dayOfWeek
                  properties:
                    earliest:
                      type: object
                      description: Start time for the day
                      required:
                        - hour
                        - minute
                      properties:
                        hour:
                          type: integer
                          minimum: 0
                          maximum: 23
                        minute:
                          type: integer
                          minimum: 0
                          maximum: 59
                    latest:
                      type: object
                      description: End time for the day
                      required:
                        - hour
                        - minute
                      properties:
                        hour:
                          type: integer
                          minimum: 0
                          maximum: 23
                        minute:
                          type: integer
                          minimum: 0
                          maximum: 59
                    dayOfWeek:
                      type: integer
                      description: Day of week (0=Sunday, 6=Saturday)
                      minimum: 0
                      maximum: 6
        replaceAll:
          type: boolean
          description: Whether to replace all existing entries in the intent routing table
          default: false
    AssistantTransferRulesResponse:
      type: object
      description: >-
        Represents the call routing configuration for a Navigator AI assistant,
        defining which assistant or phone numbers it applies to, the number and
        message to use when transferring a caller to staff, and business hours
        used to decide whether to offer a transfer, an SMS follow up, or an
        after-hours message instead. It drives how an automated phone assistant
        decides when and where to hand a call off to a human.
      properties:
        _id:
          type: string
          description: Unique identifier in Luma's database
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        user:
          type: string
          description: Organization ID
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        deleted:
          type: integer
          description: Soft delete timestamp (0 if not deleted)
          default: 0
        createdBy:
          type: string
          description: ID of user who created this record
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        updatedBy:
          type: string
          description: ID of user who last updated this record
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        createdAt:
          type: string
          format: date-time
          description: Timestamp when record was created
        updatedAt:
          type: string
          format: date-time
          description: Timestamp when record was last updated
        name:
          type: string
          description: Name of the transfer rule (used for intent routing)
        metadata:
          type: object
          description: Additional metadata
          properties:
            city:
              type: string
              description: City where the department is located
            state:
              type: string
              description: State where the department is located
            zip:
              type: string
              description: ZIP code for the department location
            address:
              type: string
              description: Street address of the department
            suiteBuildingRoom:
              type: string
              description: Suite, building, or room number
            specialty:
              type: string
              description: Medical specialty of the department
            action:
              type: string
              description: Action associated with the department
        enabled:
          type: boolean
          description: Whether the transfer rule is enabled
          default: false
        type:
          type: string
          description: Type of transfer rule
          enum:
            - intent_routing
            - rule_based
        assistants:
          type: array
          description: Array of assistant IDs
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
        assistantNumbers:
          type: array
          description: Array of outbound number IDs
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
        transferNumber:
          type: string
          description: Phone number to transfer calls to
        transferMessage:
          type: string
          description: Message played when transferring
          default: Transferring you to a staff.
        transferFailedMessage:
          type: string
          description: Message played when transfer fails
          default: >-
            Unfortunately the transfer has failed. Sorry please try calling
            again.
        afterHoursEndCallMessage:
          type: string
          description: Message played when office is closed
          default: >-
            Unfortunately, the office is closed. Please call back during normal
            business hours. Goodbye
        timezone:
          type: string
          description: Timezone for working hours
          default: America/Los_Angeles
        textPatientBackInHub:
          type: object
          description: Configuration for texting patient back
          properties:
            enabled:
              type: boolean
              description: Whether text-back feature is enabled
              default: false
            minutesBeforeClosingTime:
              type: integer
              description: Minutes before closing to offer text-back option
              default: 30
        textPatientBackConfirmationSentMessage:
          type: string
          description: Confirmation message sent when text-back is requested
          default: >-
            I've sent you an SMS confirming this request. Our team will text you
            back via the number you have provided.
        hubSmsTextPatientBackConfirmationSentMessage:
          type: string
          description: SMS confirmation message sent via hub
          default: >-
            Thank you for your message. We will get back to you as soon as
            possible.
        offerToTransferMessage:
          type: string
          description: Message offering to transfer the caller
          default: Would you like to be transferred to a staff member?
        offerToTextBackOrTransferMessage:
          type: string
          description: Message offering text-back or transfer options
          default: >-
            Would you like to receive a text message or be transferred to a
            staff member?
        offerToTextBackOrEndCallMessage:
          type: string
          description: Message offering text-back or end call options
          default: Would you like to receive a text message or end the call?
        officeClosedTransferNotAvailableOfferToTextBackMessage:
          type: string
          description: Message when office is closed and transfer unavailable
          default: >-
            Unfortunately, the office is closed. Would you like to leave a
            message and a staff member will reach back in the next business day?
        officeNearClosingTimeTransferNotAdvisedOfferToTextBackMessage:
          type: string
          description: Message when office is near closing time
          default: >-
            The office is closing soon. If you choose to be transferred to a
            Staff, there is a chance that your call won't be answered. Would you
            like to leave a message and a staff member will reach you as soon as
            possible?
        workingHours:
          type: array
          description: Working hours configuration for each day of the week
          items:
            type: object
            properties:
              earliest:
                type: object
                description: Start time for the day
                properties:
                  hour:
                    type: integer
                    minimum: 0
                    maximum: 23
                  minute:
                    type: integer
                    minimum: 0
                    maximum: 59
              latest:
                type: object
                description: End time for the day
                properties:
                  hour:
                    type: integer
                    minimum: 0
                    maximum: 23
                  minute:
                    type: integer
                    minimum: 0
                    maximum: 59
              dayOfWeek:
                type: integer
                description: Day of week (0=Sunday, 6=Saturday)
                minimum: 0
                maximum: 6
    AssistantInstanceResponse:
      type: object
      description: >-
        An AssistantInstance represents a single conversation between Luma's
        Navigator AI assistant and a patient (or staff member), spanning one or
        more channels such as a voice call, SMS, or chat. It tracks the
        lifecycle of that conversation as it moves from idle to in-progress to a
        terminal success or failure status, whether the patient's identity was
        verified, which entry points were used, and reporting data about the
        call's outcome and detected intents. AssistantActions attach to an
        AssistantInstance as the individual tool calls made during the
        conversation.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        release:
          type: string
          description: Which release track of the assistant handled this conversation.
          default: current
          enum:
            - current
            - next
            - preProd
        patient:
          type: string
          description: ID of the patient in this conversation.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        verified:
          type: boolean
          description: Whether the patient's identity has been confirmed.
          default: false
        onBehalfOf:
          type: string
          description: >-
            ID of the patient being discussed, when different from `patient`
            (for example, a guardian calling about a dependent).
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        status:
          type: string
          description: Lifecycle status of the conversation.
          default: idle
          enum:
            - idle
            - in-progress
            - failure
            - success
        statusUpdatedAt:
          type: string
          format: date-time
          description: When `status` was last updated.
        statusReason:
          type: string
          description: Why the conversation reached its terminal status.
          enum:
            - success-by-assistant
            - success-by-transfer
            - success-by-patient
            - success-by-staff
            - success-by-assistant-timeout
            - failure-by-assistant
            - failure-by-patient
            - failure-by-staff
            - incomplete-success-criteria
            - timed-out
            - no-new-messages
            - maximum-retries
        assistant:
          type: string
          description: ID of the Assistant configuration driving this conversation.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        entryPoints:
          type: array
          description: The channels used to reach the assistant during this conversation.
          items:
            type: object
            properties:
              channel:
                type: string
                enum:
                  - sms
                  - email
                  - voice
                  - inapp
                  - chat
                  - fax
                  - whatsapp
                  - rcs
                  - lumabot
                  - internal
              lastMessageAt:
                type: string
                format: date-time
              direction:
                type: string
                enum:
                  - inbound
                  - outbound
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        duration:
          type: number
          description: Duration of the conversation, in seconds.
        reporting:
          type: object
          description: Structured reporting/QA data collected about this conversation.
          properties:
            callOutcome:
              type: string
              enum:
                - transferred
                - assistant-ended
                - patient-ended
                - timed-out
            intents:
              type: array
              description: The intents detected during the conversation.
              items:
                type: object
                properties:
                  intent:
                    type: string
                  inScope:
                    type: boolean
                  handled:
                    type: boolean
                  evidence:
                    type: string
                    description: ID of the message that evidences this intent.
                    pattern: '[0-9a-f]'
                    minLength: 24
                    maxLength: 24
            summary:
              type: string
            callTransferAttempt:
              type: boolean
            transferWasAfterHours:
              type: boolean
    AssistantInstanceRequestCreate:
      type: object
      required:
        - assistant
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        release:
          type: string
          description: Which release track of the assistant handled this conversation.
          default: current
          enum:
            - current
            - next
            - preProd
        patient:
          type: string
          description: ID of the patient in this conversation.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        verified:
          type: boolean
          description: Whether the patient's identity has been confirmed.
          default: false
        onBehalfOf:
          type: string
          description: >-
            ID of the patient being discussed, when different from `patient`
            (for example, a guardian calling about a dependent).
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        status:
          type: string
          description: Lifecycle status of the conversation.
          default: idle
          enum:
            - idle
            - in-progress
            - failure
            - success
        statusUpdatedAt:
          type: string
          format: date-time
          description: When `status` was last updated.
        statusReason:
          type: string
          description: Why the conversation reached its terminal status.
          enum:
            - success-by-assistant
            - success-by-transfer
            - success-by-patient
            - success-by-staff
            - success-by-assistant-timeout
            - failure-by-assistant
            - failure-by-patient
            - failure-by-staff
            - incomplete-success-criteria
            - timed-out
            - no-new-messages
            - maximum-retries
        assistant:
          type: string
          description: ID of the Assistant configuration driving this conversation.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        entryPoints:
          type: array
          description: The channels used to reach the assistant during this conversation.
          items:
            type: object
            properties:
              channel:
                type: string
                enum:
                  - sms
                  - email
                  - voice
                  - inapp
                  - chat
                  - fax
                  - whatsapp
                  - rcs
                  - lumabot
                  - internal
              lastMessageAt:
                type: string
                format: date-time
              direction:
                type: string
                enum:
                  - inbound
                  - outbound
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        duration:
          type: number
          description: Duration of the conversation, in seconds.
        reporting:
          type: object
          description: Structured reporting/QA data collected about this conversation.
          properties:
            callOutcome:
              type: string
              enum:
                - transferred
                - assistant-ended
                - patient-ended
                - timed-out
            intents:
              type: array
              description: The intents detected during the conversation.
              items:
                type: object
                properties:
                  intent:
                    type: string
                  inScope:
                    type: boolean
                  handled:
                    type: boolean
                  evidence:
                    type: string
                    description: ID of the message that evidences this intent.
                    pattern: '[0-9a-f]'
                    minLength: 24
                    maxLength: 24
            summary:
              type: string
            callTransferAttempt:
              type: boolean
            transferWasAfterHours:
              type: boolean
    AssistantInstanceRequestUpdate:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        release:
          type: string
          description: Which release track of the assistant handled this conversation.
          default: current
          enum:
            - current
            - next
            - preProd
        patient:
          type: string
          description: ID of the patient in this conversation.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        verified:
          type: boolean
          description: Whether the patient's identity has been confirmed.
          default: false
        onBehalfOf:
          type: string
          description: >-
            ID of the patient being discussed, when different from `patient`
            (for example, a guardian calling about a dependent).
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        status:
          type: string
          description: Lifecycle status of the conversation.
          default: idle
          enum:
            - idle
            - in-progress
            - failure
            - success
        statusUpdatedAt:
          type: string
          format: date-time
          description: When `status` was last updated.
        statusReason:
          type: string
          description: Why the conversation reached its terminal status.
          enum:
            - success-by-assistant
            - success-by-transfer
            - success-by-patient
            - success-by-staff
            - success-by-assistant-timeout
            - failure-by-assistant
            - failure-by-patient
            - failure-by-staff
            - incomplete-success-criteria
            - timed-out
            - no-new-messages
            - maximum-retries
        assistant:
          type: string
          description: ID of the Assistant configuration driving this conversation.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        entryPoints:
          type: array
          description: The channels used to reach the assistant during this conversation.
          items:
            type: object
            properties:
              channel:
                type: string
                enum:
                  - sms
                  - email
                  - voice
                  - inapp
                  - chat
                  - fax
                  - whatsapp
                  - rcs
                  - lumabot
                  - internal
              lastMessageAt:
                type: string
                format: date-time
              direction:
                type: string
                enum:
                  - inbound
                  - outbound
        startedAt:
          type: string
          format: date-time
        finishedAt:
          type: string
          format: date-time
        duration:
          type: number
          description: Duration of the conversation, in seconds.
        reporting:
          type: object
          description: Structured reporting/QA data collected about this conversation.
          properties:
            callOutcome:
              type: string
              enum:
                - transferred
                - assistant-ended
                - patient-ended
                - timed-out
            intents:
              type: array
              description: The intents detected during the conversation.
              items:
                type: object
                properties:
                  intent:
                    type: string
                  inScope:
                    type: boolean
                  handled:
                    type: boolean
                  evidence:
                    type: string
                    description: ID of the message that evidences this intent.
                    pattern: '[0-9a-f]'
                    minLength: 24
                    maxLength: 24
            summary:
              type: string
            callTransferAttempt:
              type: boolean
            transferWasAfterHours:
              type: boolean
    AssistantActionResponse:
      type: object
      description: >-
        An AssistantAction is an audit-log record of a single tool or function
        call made by the Navigator AI assistant during a conversation, such as
        listing appointments, canceling an appointment, or confirming an
        appointment. It captures the function name, the parameters passed in,
        the raw response, and whether the call succeeded, failed, or is still
        pending, and is linked to the parent AssistantInstance conversation it
        occurred during.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        description:
          type: string
          description: Free-form description of the action taken.
        status:
          type: string
          description: Outcome of the underlying API call this action made.
          enum:
            - success
            - failure
            - pending
        functionName:
          type: string
          description: >-
            Name of the tool/function called, for example `cancelAppointment` or
            `listAvailabilities`.
        parameters:
          description: The parameters passed to the underlying API call.
        response:
          description: The raw response returned by the underlying API call.
        assistantInstance:
          type: string
          description: >-
            ID of the AssistantInstance (conversation) this action was taken
            during.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
    AssistantActionRequestCreate:
      type: object
      required:
        - description
        - status
        - functionName
        - parameters
        - response
        - assistantInstance
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        description:
          type: string
          description: Free-form description of the action taken.
        status:
          type: string
          description: Outcome of the underlying API call this action made.
          enum:
            - success
            - failure
            - pending
        functionName:
          type: string
          description: >-
            Name of the tool/function called, for example `cancelAppointment` or
            `listAvailabilities`.
        parameters:
          description: The parameters passed to the underlying API call.
        response:
          description: The raw response returned by the underlying API call.
        assistantInstance:
          type: string
          description: >-
            ID of the AssistantInstance (conversation) this action was taken
            during.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
    AssistantActionRequestUpdate:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        description:
          type: string
          description: Free-form description of the action taken.
        status:
          type: string
          description: Outcome of the underlying API call this action made.
          enum:
            - success
            - failure
            - pending
        functionName:
          type: string
          description: >-
            Name of the tool/function called, for example `cancelAppointment` or
            `listAvailabilities`.
        parameters:
          description: The parameters passed to the underlying API call.
        response:
          description: The raw response returned by the underlying API call.
        assistantInstance:
          type: string
          description: >-
            ID of the AssistantInstance (conversation) this action was taken
            during.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
    ErrorSchema:
      type: object
      required:
        - message
      properties:
        message:
          type: string
    Filters:
      type: object
      description: >-
        Object containing the filters with appointmentTypes, facilities,
        providers
      required: []
      properties:
        appointmentTypes:
          type: array
          description: List of appointmentTypes' IDs
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
        facilities:
          type: array
          description: List of facilities' IDs
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
        providers:
          type: array
          description: List of providers' IDs
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
    AvailabilitySchedulerResponse:
      type: object
      description: >-
        An Availability represents an open time slot for a provider, facility,
        or appointment type that a patient can book through Luma's
        self-scheduling pages. It tracks the slot's date, duration, and status
        (such as available, offered, booked-pending, or booked) as it moves
        through the offer and booking workflow, and links to related records
        like the provider, facility, appointment type, and any resulting offer
        or appointment.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        filters:
          $ref: '#/components/schemas/Filters'
        provider:
          description: >
            Either the ID or a populated object referring to the provider/doctor
            for whom this scheduler availability is.

            Depending on the queryParameter `populate`, the ID might become an
            object containing: `{ _id, name, lastname, firstname }`, all
            strings.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        facility:
          description: >
            Either the ID or a populated object referring to the place/facility
            where a scheduler availability should take place.

            Depending on the queryParameter `populate`, the ID might become an
            object containing: `{ _id, name, address, city, state, postcode,
            phone }`, all strings.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointmentType:
          description: >-
            The ID of an `appointmentType` describing the kind of appointment
            that might be scheduled for this availability.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        date:
          description: >
            The exact *start* date/time of the availability, in ISO format,
            including timezone information. Example:
            `2022-09-09T23:59:59-03:00`.
          type: string
          format: date-time
        duration:
          description: >-
            The duration of the availability, in minutes. Added to the `date`,
            you reach the `endDate`.
          type: integer
          format: int32
          default: 15
        endDate:
          description: >
            The exact *end* date/time of the availability, in ISO format,
            including timezone information. Example:
            `2022-09-09T23:59:59-03:00`.

            Calculated by adding the `duration` (in minutes) to the start
            `date`.
          type: string
          format: date-time
        externalId:
          $ref: '#/components/schemas/ExternalId'
        status:
          type: object
          description: The status of the availability.
          enum:
            - available
            - booked-pending
            - offered
            - booked
            - booked-by-integrator
            - booked-by-offer
            - expired
        offer:
          description: >
            The ID of an `offer` made to a patient to schedule an appointment at
            an available date/time.

            If the patient scheduled the appointment themselves, through a
            scheduler page on the web, then

            the `availability` is marked as `booked-pending`. An `offer` is
            created behind the scenes 

            as the bridge between Luma and the clinic's EHR system. It serves as
            a pre-scheduling request.

            Once the EHR confirms that such date/time is available, then the
            `appointment` is confirmed/booked,

            the `availability` is marked as booked, and the `offer` ID is stored
            on the availability.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        locked:
          description: >
            If `true`, then the availability cannot be booked by patients. It is
            still available for the clinic to book it.

            This is useful for the clinic to reserve a date/time for a patient
            who is not yet registered on Luma.
          type: boolean
          default: false
    AvailabilityRequestUpdate:
      type: object
      properties:
        booked:
          type: boolean
          description: |
            Determines if the availability is being booked or not.
            If it is set to true, the system will book the availability.
        filters:
          $ref: '#/components/schemas/Filters'
        provider:
          description: >
            Either the ID or a populated object referring to the provider/doctor
            for whom this scheduler availability is.

            Depending on the queryParameter `populate`, the ID might become an
            object containing: `{ _id, name, lastname, firstname }`, all
            strings.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        facility:
          description: >
            Either the ID or a populated object referring to the place/facility
            where a scheduler availability should take place.

            Depending on the queryParameter `populate`, the ID might become an
            object containing: `{ _id, name, address, city, state, postcode,
            phone }`, all strings.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointmentType:
          description: >-
            The ID of an `appointmentType` describing the kind of appointment
            that might be scheduled for this availability.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        date:
          description: >
            The exact *start* date/time of the availability, in ISO format,
            including timezone information. Example:
            `2022-09-09T23:59:59-03:00`.
          type: string
          format: date-time
        duration:
          description: >-
            The duration of the availability, in minutes. Added to the `date`,
            you reach the `endDate`.
          type: integer
          format: int32
          default: 15
        endDate:
          description: >
            The exact *end* date/time of the availability, in ISO format,
            including timezone information. Example:
            `2022-09-09T23:59:59-03:00`.

            Calculated by adding the `duration` (in minutes) to the start
            `date`.
          type: string
          format: date-time
        externalId:
          $ref: '#/components/schemas/ExternalId'
        status:
          type: object
          description: The status of the availability.
          enum:
            - available
            - booked-pending
            - offered
            - booked
            - booked-by-integrator
            - booked-by-offer
            - expired
        offer:
          description: >
            The ID of an `offer` made to a patient to schedule an appointment at
            an available date/time.

            If the patient scheduled the appointment themselves, through a
            scheduler page on the web, then

            the `availability` is marked as `booked-pending`. An `offer` is
            created behind the scenes 

            as the bridge between Luma and the clinic's EHR system. It serves as
            a pre-scheduling request.

            Once the EHR confirms that such date/time is available, then the
            `appointment` is confirmed/booked,

            the `availability` is marked as booked, and the `offer` ID is stored
            on the availability.
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        locked:
          description: >
            If `true`, then the availability cannot be booked by patients. It is
            still available for the clinic to book it.

            This is useful for the clinic to reserve a date/time for a patient
            who is not yet registered on Luma.
          type: boolean
          default: false
    BillingChargeResponse:
      type: object
      description: >-
        Represents a single financial charge tracked against a patient, such as
        a copay, patient balance, custom appointment fee, or convenience fee. A
        billing charge moves through a status lifecycle (planned, billable,
        billed, or aborted) and a separate payment status (pending, paid,
        partially paid, refunded) as it is billed and collected, and can be
        linked to an appointment, patient, insurance verification, and one or
        more billing transactions.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        amount:
          type: number
          description: The charge amount.
        currency:
          type: string
          description: Currency code for the charge.
          default: USD
        status:
          type: string
          description: >-
            Lifecycle status of the charge. `planned` = planned but not yet
            billed, `billable` = confirmed by staff and ready to bill, `billed`
            = sent to the patient for collection, `aborted` = wrongfully added
            or aborted.
          enum:
            - planned
            - billable
            - billed
            - aborted
        lastStatusUpdatedAt:
          type: string
          format: date-time
          description: When `status` was last changed.
        lastStatusUpdatedBy:
          type: string
          description: ID of the user who last changed `status`.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        type:
          type: string
          description: >-
            The kind of charge. `copay` = copay amount for the appointment,
            `balance` = patient balance tied to the appointment,
            `custom-appointment-charge` = custom value added by staff,
            `convenience-fee` = a convenience fee charge.
          enum:
            - copay
            - balance
            - custom-appointment-charge
            - convenience-fee
        source:
          type: string
          description: >-
            Where the charge originated from. `manual` = added by staff,
            `integrator` = from the EHR, `insurance-verification` = from the
            insurance verification process, `fixedAmount` = created from a fixed
            copay rule.
          enum:
            - manual
            - integrator
            - insurance-verification
            - fixedAmount
        description:
          type: string
          description: Public description of the charge, visible to the patient.
        reason:
          type: string
          description: >-
            Internal, staff-only note about the charge. Omitted from
            patient-facing responses.
        appointment:
          type: string
          description: ID of the appointment associated with this charge.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        patient:
          type: string
          description: ID of the patient associated with this charge.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        insuranceVerification:
          type: string
          description: >-
            ID of the insurance verification this charge's copay was derived
            from, if any.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        insurance:
          type: string
          description: >-
            ID of the patient's insurance saved alongside the insurance
            verification.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        paymentStatus:
          type: string
          description: How much of the charge has been collected.
          enum:
            - pending
            - not-paid
            - paid
            - partially-paid
            - refunded
        amountPaid:
          type: number
          description: The amount paid toward this charge so far.
        billingTransactions:
          type: array
          description: IDs of the billing transactions associated with this charge.
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
        isCreatedByAI:
          type: boolean
          description: Indicates whether this charge was created or suggested by AI.
    BillingChargesUpsertRequest:
      type: object
      required:
        - appointmentId
        - charges
      properties:
        appointmentId:
          type: string
          description: ID of the appointment these charges belong to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        charges:
          type: array
          description: >-
            Charges to upsert for this appointment. Include `_id` to update an
            existing charge, or omit it to create a new one. Only one `copay`
            type charge is allowed per appointment. Any existing
            custom-appointment-charge not present in this array will be aborted.
          minItems: 1
          items:
            type: object
            properties:
              _id:
                type: string
                description: >-
                  ID of an existing charge to update. Omit to create a new
                  charge.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              amount:
                type: number
                description: The charge amount.
              type:
                type: string
                description: The kind of charge.
                enum:
                  - copay
                  - balance
                  - custom-appointment-charge
                  - convenience-fee
              description:
                type: string
                description: Public description of the charge, visible to the patient.
    BillingChargeBalanceRequestCreate:
      type: object
      required:
        - patient
        - amount
      properties:
        patient:
          type: string
          description: ID of the patient this balance charge is for.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        amount:
          type: number
          description: The balance amount to charge. Must be a positive number.
        currency:
          type: string
          description: >-
            Currency code for the charge. Defaults to the account's payment
            localization currency, or USD.
        appointment:
          type: string
          description: ID of an appointment to associate with this balance charge, if any.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
    deletedByParam:
      in: query
      name: deletedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who deleted this object.
    deletedAtParam:
      in: query
      name: deletedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was deleted.
    BillingCopaysResponse:
      type: object
      properties:
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        deletedBy:
          $ref: '#/components/schemas/deletedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        deletedAt:
          $ref: '#/components/schemas/deletedAtParam'
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        source:
          type: string
          enum:
            - system
            - ehr
            - manual
        type:
          type: string
          enum:
            - balance
            - behavioral
            - copay
            - custom
            - dental
            - medical
        model:
          type: string
          enum:
            - appointment
            - patient
            - offer
        calculation:
          type: string
        name:
          type: string
        amount:
          type: number
        currency:
          type: string
          pattern: ^[A-Z]{3}$
        visible:
          type: boolean
        appointment:
          type: string
          pattern: ^[0-9a-f]{24}$
          minLength: 24
          maxLength: 24
        patient:
          type: string
          pattern: ^[0-9a-f]{24}$
          minLength: 24
          maxLength: 24
        preAuthorization:
          type: boolean
    BillingCopaysCreate:
      type: object
      required:
        - name
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        source:
          type: string
          enum:
            - system
            - ehr
            - manual
        type:
          type: string
          enum:
            - balance
            - behavioral
            - copay
            - custom
            - dental
            - medical
        model:
          type: string
          enum:
            - appointment
            - patient
            - offer
        calculation:
          type: string
        name:
          type: string
        amount:
          type: number
        currency:
          type: string
          pattern: ^[A-Z]{3}$
        visible:
          type: boolean
        appointment:
          type: string
          pattern: ^[0-9a-f]{24}$
          minLength: 24
          maxLength: 24
        patient:
          type: string
          pattern: ^[0-9a-f]{24}$
          minLength: 24
          maxLength: 24
        preAuthorization:
          type: boolean
    BillingCopaysUpdate:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        source:
          type: string
          enum:
            - system
            - ehr
            - manual
        type:
          type: string
          enum:
            - balance
            - behavioral
            - copay
            - custom
            - dental
            - medical
        model:
          type: string
          enum:
            - appointment
            - patient
            - offer
        calculation:
          type: string
        name:
          type: string
        amount:
          type: number
        currency:
          type: string
          pattern: ^[A-Z]{3}$
        visible:
          type: boolean
        appointment:
          type: string
          pattern: ^[0-9a-f]{24}$
          minLength: 24
          maxLength: 24
        patient:
          type: string
          pattern: ^[0-9a-f]{24}$
          minLength: 24
          maxLength: 24
        preAuthorization:
          type: boolean
    BroadcastEvent:
      type: object
      description: >-
        A BroadcastEvent records a single unit of work within a Luma broadcast
        flow, a bulk outbound messaging campaign sent to many patients at once
        (for example a recall or announcement uploaded as a spreadsheet). Each
        event tracks either a review action taken on the flow or the processing
        of one row or patient, including its current step (message queued, sent,
        failed, or skipped), any error encountered, and links to the associated
        patient and appointment.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        broadcastFlow:
          $ref: '#/components/schemas/idParam'
          required: true
        patient:
          $ref: '#/components/schemas/idParam'
        statuses:
          type: array
          items:
            type: object
            properties:
              step:
                type: string
                required: true
                enum:
                  - RowProcess
                  - MessageProcess
              status:
                type: string
                required: true
                enum:
                  - in-progress
                  - success
                  - failure
                  - skipped
              stepCreatedAt:
                type: string
                format: date-time
                required: true
              stepUpdatedAt:
                type: string
                format: date-time
                required: true
              patient:
                $ref: '#/components/schemas/idParam'
              retryCount:
                type: integer
        row:
          type: integer
        rowRecord:
          type: object
          additionalProperties:
            type: string
    BroadcastFlow:
      type: object
      description: >-
        A BroadcastFlow represents a bulk patient outreach campaign that sends
        the same message via SMS, email, or voice to a batch of patients, either
        from an uploaded contact file, an SFTP feed, or a filtered set of
        appointments. It tracks the full lifecycle of that campaign including
        upload and column mapping, optional approval review, scheduling, batched
        message sending, and per-row success and failure statistics, and can be
        organized into parent and child flows for large batches, commonly used
        for patient recall and other mass communications.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        title:
          type: string
          required: true
        type:
          type: string
          required: true
          enum:
            - scheduled
            - uploaded
            - sftp
        parentBroadcastFlow:
          $ref: '#/components/schemas/idParam'
        campaign:
          $ref: '#/components/schemas/idParam'
        broadcastTemplate:
          $ref: '#/components/schemas/idParam'
        patientMessageTemplate:
          $ref: '#/components/schemas/idParam'
        review:
          type: object
          properties:
            user:
              $ref: '#/components/schemas/idParam'
            status:
              type: string
              enum:
                - approved
                - declined
            declinedReason:
              type: string
        message:
          type: string
          required: true
        messageOverrides:
          type: array
          items:
            type: object
            properties:
              text:
                type: string
              language:
                type: string
              channel:
                type: string
              subject:
                type: string
              patientMessageTemplate:
                $ref: '#/components/schemas/idParam'
              secureChat:
                type: boolean
        sendAt:
          type: string
          format: date-time
        sentAt:
          type: string
          format: date-time
        configuration:
          type: object
          properties:
            secureChat:
              type: boolean
              default: false
            contactPreference:
              type: string
              required: true
              enum:
                - all-contacts
                - primary-contact-only
                - uploaded-contact-only
            simulate:
              type: boolean
            shouldReprocessFilters:
              type: boolean
              default: false
        processingStatus:
          type: string
          enum:
            - pre-processing
            - processing-upload
            - rows-processed
            - sending-messages
            - success
            - failure
        upload:
          $ref: '#/components/schemas/idParam'
        fileUpload:
          $ref: '#/components/schemas/idParam'
        mapping:
          $ref: '#/components/schemas/idParam'
        rowCount:
          type: integer
        stats:
          type: object
          properties:
            totalMessagesSent:
              type: integer
            messagesSuccess:
              type: integer
            messagesFailed:
              type: integer
            messagesSkipped:
              type: integer
    BroadcastTemplate:
      type: object
      description: >-
        Represents a reusable template for a bulk broadcast messaging campaign,
        capturing message content per channel and language, throttling and
        batching settings, and audience filters used to send mass communications
        to patients such as reminders or announcements via SMS, email, or voice.
        Templates move through a draft or complete lifecycle and are consumed by
        the broadcast builder flow to generate an actual broadcast run.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        status:
          type: string
          description: |
            Lifecycle marker for the multi-step builder flow. `draft` is
            a work-in-progress; `complete` (or unset, for pre-feature rows)
            is consumable by the SFTP filename-driven flow. Defaults to
            `complete` on programmatic creates.
          enum:
            - draft
            - complete
          default: complete
        title:
          type: string
          description: 'Title of the broadcast template (optional while `status: draft`)'
        message:
          type: string
          description: >
            Legacy single-message body (used by the legacy Broadcast flow).

            For the broadcast-redesign (BroadcastFlow), use the `messages`
            array.
        patientMessageTemplate:
          type: string
          description: Template for patient-specific messages
        messageOverrides:
          type: array
          description: |
            Legacy per-language/per-channel overrides paired with `message`.
            Used by the legacy Broadcast flow.
          items:
            type: object
            properties:
              text:
                type: string
              language:
                type: string
              channel:
                type: string
              subject:
                type: string
              patientMessageTemplate:
                $ref: '#/components/schemas/idParam'
              secureChat:
                type: boolean
        messages:
          type: array
          description: |
            BroadcastFlow-shaped message array. Used by the broadcast-redesign
            SFTP path to populate a BroadcastFlow from this template (one entry
            per language × channel combination). Coexists with the legacy
            `message` + `messageOverrides[]` fields.
          items:
            type: object
            properties:
              enabled:
                type: boolean
                default: true
              text:
                type: string
              language:
                type: string
                description: Language code or `default`
              channel:
                type: array
                items:
                  type: string
                  enum:
                    - sms
                    - email
                    - voice
              secureChat:
                type: boolean
                default: false
              subject:
                type: string
                description: Email subject (when `channel` includes `email`)
              patientMessageTemplate:
                $ref: '#/components/schemas/idParam'
        campaign:
          type: string
          description: Associated campaign identifier
        mapping:
          type: object
          description: FileMapping reference for the broadcast
        secureChat:
          type: boolean
          description: >
            Legacy template-level secure chat flag (used by the legacy Broadcast
            flow).

            For the new flow, secureChat is per-message under
            `messages[].secureChat`.
        shouldUseUploadedContacts:
          type: boolean
          description: >
            Legacy boolean (used by the legacy Broadcast flow). For the new
            flow,

            use `configuration.contactPreference` (enum).
        shouldUsePrimaryContactOnly:
          type: boolean
          description: >
            Legacy boolean (used by the legacy Broadcast flow). For the new
            flow,

            use `configuration.contactPreference: primary-contact-only`.
        sendAt:
          type: string
          format: date-time
          description: |
            Legacy scheduled send time (used by the legacy Broadcast flow). For
            the new flow, use `configuration.scheduledAt`.
        configuration:
          type: object
          description: |
            Combined configuration. Legacy `throttling` is for the legacy
            Broadcast flow; all other sub-fields are BroadcastFlow-shaped and
            consumed by the broadcast-redesign SFTP path.
          properties:
            throttling:
              type: object
              description: Legacy throttling (rate-limit sends).
              properties:
                enabled:
                  type: boolean
                value:
                  type: number
                interval:
                  type: object
                  properties:
                    value:
                      type: number
                    unit:
                      type: string
                      enum:
                        - minutes
                        - hours
            batching:
              type: object
              description: |
                BroadcastFlow batching — splits large flows into child flows of
                `batchSize` rows, sent every `batchInterval` `batchUnit`(s).
              properties:
                enabled:
                  type: boolean
                batchSize:
                  type: integer
                batchInterval:
                  type: integer
                  minimum: 1
                batchUnit:
                  type: string
                  enum:
                    - minutes
                    - hours
            contactPreference:
              type: string
              description: BroadcastFlow contact preference enum.
              enum:
                - all-contacts
                - active-contact-only
                - primary-contact-only
                - uploaded-contact-only
            messagesPerPatient:
              type: string
              enum:
                - one-message-per-patient
                - multiple-messages-per-patient
            disabledChannels:
              type: array
              description: Channels suppressed for this flow.
              items:
                type: string
                enum:
                  - sms
                  - email
                  - voice
            scheduledAt:
              type: string
              format: date-time
              nullable: true
              description: >-
                BroadcastFlow scheduled send time (preferred over legacy
                `sendAt`).
            filters:
              type: object
              description: Appointment-based filters (facilities, providers, types, dates).
              properties:
                estimatedAppointmentCount:
                  type: integer
                facilities:
                  type: array
                  items:
                    $ref: '#/components/schemas/idParam'
                providers:
                  type: array
                  items:
                    $ref: '#/components/schemas/idParam'
                appointmentTypes:
                  type: array
                  items:
                    $ref: '#/components/schemas/idParam'
                appointmentStatus:
                  type: array
                  items:
                    type: string
                appointmentDate:
                  type: object
                  properties:
                    startDate:
                      type: string
                      format: date-time
                    endDate:
                      type: string
                      format: date-time
                    dateFilterType:
                      type: string
                      enum:
                        - custom-range
                        - specific-date
                        - after-specific-date
            appointments:
              type: object
              description: Appointment include/exclude lists.
              properties:
                include:
                  type: array
                  items:
                    $ref: '#/components/schemas/idParam'
                exclude:
                  type: array
                  items:
                    $ref: '#/components/schemas/idParam'
            responseHandling:
              type: object
              description: How to route patient responses.
              properties:
                onResponse:
                  type: string
                  enum:
                    - ignore-response
                    - send-to-hub
                assignee:
                  type: string
                  description: Group ObjectId or the literal string `unassigned`.
            rowProcessingRange:
              type: object
              description: Inclusive CSV row range (used by batched child flows).
              properties:
                from:
                  type: integer
                to:
                  type: integer
        allowedSquigglies:
          type: array
          items:
            type: string
          description: >-
            List of allowed template variables resolvable for this template's
            mapping.
        fileUpload:
          $ref: '#/components/schemas/idParam'
      required: []
    Campaign:
      type: object
      description: >-
        Represents an outreach campaign that targets a specific resource, such
        as a patient, facility, or user, and defines which contact channels like
        SMS, email, or voice should be attempted and in what order. It tracks
        whether the campaign is active, who last updated it, and optional
        external identifiers for syncing with third-party systems, and is used
        to drive automated patient engagement workflows like recall or referral
        outreach.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        ref:
          type: string
          enum:
            - patient
            - facility
            - user
        refId:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        name:
          type: string
        channels:
          type: array
          items:
            type: string
            enum:
              - sms
              - voice
              - email
        type:
          type: string
          enum:
            - inbound
            - outbound
        lastUpdatedBy:
          type: string
          enum:
            - patient
            - integrator
        active:
          schema:
            type: boolean
    ChecklistResponse:
      type: object
      description: >-
        A Checklist is a per-appointment, per-patient instance of required
        pre-visit tasks (forms, insurance, consent, payment) generated at build
        time from a ChecklistTemplate. It is a materialized, point-in-time
        snapshot: editing the source template does not retroactively change
        existing checklists.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        name:
          type: string
          description: Name of the checklist.
        template:
          type: string
          description: ID of the ChecklistTemplate this checklist was generated from.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          type: string
          description: ID of the appointment this checklist belongs to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        patient:
          type: string
          description: ID of the patient this checklist belongs to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        status:
          type: string
          description: Overall status of the checklist.
          enum:
            - empty
            - pending
            - sent
            - in-progress
            - completed
        source:
          type: string
          description: How this checklist was created.
          enum:
            - appointment
            - message
            - manual
        items:
          type: array
          description: The individual pre-visit tasks that make up this checklist.
          items:
            type: object
            properties:
              name:
                type: object
                description: Localized name of this item, keyed by language code.
                additionalProperties:
                  type: string
              category:
                type: string
                description: The category this item belongs to.
                enum:
                  - intake
                  - demographics
                  - consent
                  - insurance
                  - payment
              status:
                type: string
                description: Status of this individual item.
                default: pending
                enum:
                  - not-ready
                  - pending
                  - in-progress
                  - skipped
                  - completed
              ref:
                type: string
                description: Type of resource this item's `refId` points to.
                enum:
                  - patient-form
                  - insurance
                  - payment
              refId:
                type: string
                description: ID of the resource (of type `ref`) that satisfies this item.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              templateItemRef:
                type: string
                description: ID of the ChecklistTemplateItem this item was generated from.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              visible:
                type: boolean
                description: Whether this item is visible to the patient.
                default: false
              expiresAt:
                type: string
                format: date-time
                description: When this item expires.
              completedAt:
                type: string
                format: date-time
                description: When this item was completed.
        completedAt:
          type: string
          format: date-time
          description: When the entire checklist was completed.
    ChecklistRequestCreate:
      type: object
      required:
        - name
        - template
        - appointment
        - patient
        - source
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        name:
          type: string
          description: Name of the checklist.
        template:
          type: string
          description: ID of the ChecklistTemplate this checklist was generated from.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          type: string
          description: ID of the appointment this checklist belongs to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        patient:
          type: string
          description: ID of the patient this checklist belongs to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        status:
          type: string
          description: Overall status of the checklist.
          enum:
            - empty
            - pending
            - sent
            - in-progress
            - completed
        source:
          type: string
          description: How this checklist was created.
          enum:
            - appointment
            - message
            - manual
        items:
          type: array
          description: The individual pre-visit tasks that make up this checklist.
          items:
            type: object
            properties:
              name:
                type: object
                description: Localized name of this item, keyed by language code.
                additionalProperties:
                  type: string
              category:
                type: string
                description: The category this item belongs to.
                enum:
                  - intake
                  - demographics
                  - consent
                  - insurance
                  - payment
              status:
                type: string
                description: Status of this individual item.
                default: pending
                enum:
                  - not-ready
                  - pending
                  - in-progress
                  - skipped
                  - completed
              ref:
                type: string
                description: Type of resource this item's `refId` points to.
                enum:
                  - patient-form
                  - insurance
                  - payment
              refId:
                type: string
                description: ID of the resource (of type `ref`) that satisfies this item.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              templateItemRef:
                type: string
                description: ID of the ChecklistTemplateItem this item was generated from.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              visible:
                type: boolean
                description: Whether this item is visible to the patient.
                default: false
              expiresAt:
                type: string
                format: date-time
                description: When this item expires.
              completedAt:
                type: string
                format: date-time
                description: When this item was completed.
        completedAt:
          type: string
          format: date-time
          description: When the entire checklist was completed.
    ChecklistRequestUpdate:
      type: object
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        name:
          type: string
          description: Name of the checklist.
        template:
          type: string
          description: ID of the ChecklistTemplate this checklist was generated from.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          type: string
          description: ID of the appointment this checklist belongs to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        patient:
          type: string
          description: ID of the patient this checklist belongs to.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        status:
          type: string
          description: Overall status of the checklist.
          enum:
            - empty
            - pending
            - sent
            - in-progress
            - completed
        source:
          type: string
          description: How this checklist was created.
          enum:
            - appointment
            - message
            - manual
        items:
          type: array
          description: The individual pre-visit tasks that make up this checklist.
          items:
            type: object
            properties:
              name:
                type: object
                description: Localized name of this item, keyed by language code.
                additionalProperties:
                  type: string
              category:
                type: string
                description: The category this item belongs to.
                enum:
                  - intake
                  - demographics
                  - consent
                  - insurance
                  - payment
              status:
                type: string
                description: Status of this individual item.
                default: pending
                enum:
                  - not-ready
                  - pending
                  - in-progress
                  - skipped
                  - completed
              ref:
                type: string
                description: Type of resource this item's `refId` points to.
                enum:
                  - patient-form
                  - insurance
                  - payment
              refId:
                type: string
                description: ID of the resource (of type `ref`) that satisfies this item.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              templateItemRef:
                type: string
                description: ID of the ChecklistTemplateItem this item was generated from.
                pattern: '[0-9a-f]'
                minLength: 24
                maxLength: 24
              visible:
                type: boolean
                description: Whether this item is visible to the patient.
                default: false
              expiresAt:
                type: string
                format: date-time
                description: When this item expires.
              completedAt:
                type: string
                format: date-time
                description: When this item was completed.
        completedAt:
[...]
