openapi: 3.2.0
info:
  version: 2.0.0
  title: Rest-Service Estimates API
  x-logo:
    url: https://lumahealth-assets.s3.us-west-2.amazonaws.com/new_luma_logo_black.png
    backgroundColor: '#FFFFFF'
    altText: Luma Health
  description: OpenAPI [Basic Structure](https://swagger.io/docs/specification/basic-structure/)
servers:
- url: https://api.lumahealth.io/api/v2
security:
- Bearer: []
tags:
- name: estimates
  description: Estimates
paths:
  /estimates:
    get:
      summary: Show a list of estimate
      operationId: listEstimates
      tags:
      - estimates
      parameters:
      - name: date
        in: query
        description: The date of service.
        schema:
          type: date-time
      - name: totalPatientAmountInCents
        in: query
        description: The total amount for the patient.
        schema:
          type: number
      - name: readAt
        in: query
        description: The time that the estimate was read.
        schema:
          type: date-time
      - name: payCode
        in: query
        description: The paycode from estimate.
        schema:
          type: object
          properties:
            source:
              type: string
              enum:
              - change-healthcare
            value:
              type: string
      - name: patient
        in: query
        description: ID of a patient.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: appointment
        in: query
        description: ID of an appointment.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: fileUpload
        in: query
        description: ID of a file upload.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: message
        in: query
        description: ID of a message.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      - name: visible
        in: query
        description: Flag that indicates if estimate is visible or not to the patient.
        schema:
          type: string
      - name: source
        in: query
        schema:
          type: string
          enum:
          - change-healthcare
      - $ref: '#/components/parameters/userParam'
      - $ref: '#/components/parameters/deletedParam'
      - $ref: '#/components/parameters/createdByParam'
      - $ref: '#/components/parameters/updatedByParam'
      - $ref: '#/components/parameters/createdAtParam'
      - $ref: '#/components/parameters/updatedAtParam'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/limitParam'
      - $ref: '#/components/parameters/populateParam'
      - $ref: '#/components/parameters/selectParam'
      responses:
        '200':
          description: Returns a list of estimates
          content:
            application/json:
              schema:
                type: object
                required:
                - response
                - page
                - size
                properties:
                  response:
                    type: array
                    minItems: 0
                    items:
                      $ref: '#/components/schemas/EstimateResponse'
                  page:
                    type: integer
                    format: int32
                    minimum: 1
                  size:
                    type: integer
                    format: int32
                    minimum: 0
                additionalProperties: false
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
        default:
          description: unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create a estimate
      operationId: estimateCreate
      tags:
      - estimates
      requestBody:
        description: Create a estimate
        required: true
        content:
          application:json:
            schema:
              $ref: '#/components/schemas/EstimateRequestCreate'
      responses:
        '201':
          description: Successful creation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
  /estimates/{estimateId}:
    get:
      summary: Get estimate by id
      operationId: estimateGet
      tags:
      - estimates
      parameters:
      - name: estimateId
        in: path
        required: true
        description: Estimate's unique identifier in Luma's database.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      responses:
        '200':
          description: Estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    put:
      summary: Update a estimate
      operationId: estimateUpdate
      tags:
      - estimates
      parameters:
      - name: estimateId
        in: path
        required: true
        description: Estimate's unique identifier in Luma's database.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      requestBody:
        description: A estimate (full or partial) to be updated
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EstimateRequestUpdate'
      responses:
        '200':
          description: Estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
    delete:
      summary: Delete a estimate
      operationId: estimateDelete
      tags:
      - estimates
      parameters:
      - name: estimateId
        in: path
        required: true
        description: Estimate's unique identifier in Luma's database.
        schema:
          type: string
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
      responses:
        '200':
          description: Deleted estimate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateResponse'
        '401':
          description: Not authenticated
        '403':
          description: Access token does not have the required scope
components:
  parameters:
    pageParam:
      in: query
      name: page
      required: false
      type: integer
      format: int32
      default: 1
      minimum: 1
      schema:
        type: integer
        format: int32
        default: 1
        minimum: 1
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
    populateParam:
      name: _populate
      in: query
      description: Response properties which will be replaced by the referenced objects, separated by commas.
      required: false
      type: string
      schema:
        type: string
    selectParam:
      name: _select
      in: query
      description: Response properties that should be returned, separated by commas.
      required: false
      type: string
      schema:
        type: string
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
      - 0
      - 1
      schema:
        type: number
        enum:
        - 0
        - 1
      description: Flag for logical deletion where 1 means deleted.
    limitParam:
      name: limit
      in: query
      description: How many items to fetch per page
      required: false
      type: integer
      format: int32
      default: 500
      minimum: 1
      maximum: 1000
      schema:
        type: integer
        format: int32
        default: 500
        minimum: 1
        maximum: 1000
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
  schemas:
    userParam:
      in: query
      name: user
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the root account user.
    EstimateResponse:
      type: object
      description: Represents a cost estimate generated for a patient ahead of a date of service, showing the total amount owed in cents, whether and when the patient has read it, and which party is billed first. Estimates are typically produced by a third-party provider, linked to a patient, an appointment, and an uploaded file, and a visibility flag controls whether the patient can see it.
      properties:
        _id:
          $ref: '#/components/schemas/idParam'
        user:
          $ref: '#/components/schemas/userParam'
        deleted:
          $ref: '#/components/schemas/deletedParam'
        createdBy:
          $ref: '#/components/schemas/createdByParam'
        updatedBy:
          $ref: '#/components/schemas/updatedByParam'
        createdAt:
          $ref: '#/components/schemas/createdAtParam'
        updatedAt:
          $ref: '#/components/schemas/updatedAtParam'
        date:
          type: string
          format: date-time
          description: The date of service.
        totalPatientAmountInCents:
          type: number
          description: The total amount for the patient.
        readAt:
          type: string
          format: date-time
          description: The time that the estimate was read.
        payCode:
          type: object
          description: The paycode from estimate.
          properties:
            source:
              type: string
              enum:
              - change-healthcare
            value:
              type: string
        patient:
          type: string
          description: ID of a patient.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          type: string
          description: ID of an appointment.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        fileUpload:
          type: string
          description: ID of a file upload.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        message:
          type: string
          description: ID of a message.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        visible:
          type: boolean
          description: Flag that indicates if estimate is visible or not to the patient.
        source:
          type: string
          enum:
          - change-healthcare
        searchIds:
          type: array
          description: Search ID index.
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
    Error:
      type: object
      required:
      - code
      - message
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
    EstimateRequestUpdate:
      type: object
      properties:
        date:
          type: string
          format: date-time
          description: The date of service.
        totalPatientAmountInCents:
          type: number
          description: The total amount for the patient.
        readAt:
          type: string
          format: date-time
          description: The time that the estimate was read.
        payCode:
          type: object
          description: The paycode from estimate.
          properties:
            source:
              type: string
              enum:
              - change-healthcare
            value:
              type: string
        patient:
          type: string
          description: ID of a patient.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          type: string
          description: ID of an appointment.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        fileUpload:
          type: string
          description: ID of a file upload.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        message:
          type: string
          description: ID of a message.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        visible:
          type: boolean
          description: Flag that indicates if estimate is visible or not to the patient.
        source:
          type: string
          enum:
          - change-healthcare
        searchIds:
          type: array
          description: Search ID index.
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
    idParam:
      in: query
      name: _id
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      required: false
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: Luma's internal ID of an object.
    updatedAtParam:
      in: query
      name: updatedAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was updated.
    createdAtParam:
      in: query
      name: createdAt
      type: string
      format: date-time
      schema:
        type: string
        format: date-time
      required: false
      description: The date/time when this object was created.
    updatedByParam:
      in: query
      name: updatedBy
      required: false
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      description: The ID of the user who updated this object.
    deletedParam:
      in: query
      name: deleted
      required: false
      type: number
      enum:
      - 0
      - 1
      schema:
        type: number
        enum:
        - 0
        - 1
      description: Flag for logical deletion where 1 means deleted.
    EstimateRequestCreate:
      type: object
      required:
      - date
      - totalPatientAmountInCents
      - patient
      - fileUpload
      - visible
      - source
      - searchIds
      properties:
        date:
          type: string
          format: date-time
          description: The date of service.
        totalPatientAmountInCents:
          type: number
          description: The total amount for the patient.
        readAt:
          type: string
          format: date-time
          description: The time that the estimate was read.
        payCode:
          type: object
          description: The paycode from estimate.
          properties:
            source:
              type: string
              enum:
              - change-healthcare
            value:
              type: string
        patient:
          type: string
          description: ID of a patient.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        appointment:
          type: string
          description: ID of an appointment.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        fileUpload:
          type: string
          description: ID of a file upload.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        message:
          type: string
          description: ID of a message.
          pattern: '[0-9a-f]'
          minLength: 24
          maxLength: 24
        visible:
          type: boolean
          description: Flag that indicates if estimate is visible or not to the patient.
        source:
          type: string
          enum:
          - change-healthcare
        searchIds:
          type: array
          description: Search ID index.
          items:
            type: string
            pattern: '[0-9a-f]'
            minLength: 24
            maxLength: 24
    createdByParam:
      in: query
      name: createdBy
      type: string
      pattern: '[0-9a-f]'
      minLength: 24
      maxLength: 24
      schema:
        type: string
        pattern: '[0-9a-f]'
        minLength: 24
        maxLength: 24
      required: false
      description: The ID of the user who created this object.
  securitySchemes:
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
